<launch>
  <node pkg="uvc_camera" type="uvc_stereo_node" name="uvc_camera_stereo">
    <param name="width" type="int" value="640" />
    <param name="height" type="int" value="480" />
    <param name="fps" type="int" value="30" />
    <param name="frame" type="string" value="wide_stereo" />
    <param name="left/rotate" type="bool" value="False" />
    <param name="auto_focus" type="bool" value="False" />
    <param name="focus_absolute" type="int" value="0" />
    <!-- other supported params: auto_exposure, exposure_absolute, brightness, power_line_frequency -->

    <param name="left/device" type="string" value="/dev/video1" />
    <param name="right/device" type="string" value="/dev/video0" />
  </node>
    <node pkg="svo_ros" type="svo_node" name="svo" clear_params="true" output="screen">
    <!-- Camera and IMU topics to subscribe to -->
    <param name="cam1_topic" value="/left/image_raw" type="str" />
    <param name="cam0_topic" value="/right/image_raw" type="str" />
    <param name="calib_file" value="$(find svo_ros)/calib/fisheyeTry2.yaml" type="str" />
    <rosparam file="$(find svo_ros)/param/stereo_fisheye.yaml" />
  </node>





</launch>
